# Включить все Python файлы
recursive-include cortelxlib *.py

# Включить лицензии и README файлы
include LICENSE
include README.md
include pyproject.toml

# Включить другие важные файлы, если необходимо
# include requirements.txt
